*{
    box-sizing: border-box;
}

body{
    background-image: url(./images/otonokizaka.jpg);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    color:deeppink;
}

li{
    color: white;
    border-radius: 20px;
    padding: 4px;
    margin: 10px;
    font-weight: 900;
    text-shadow: 2px 2px gray;
}

.home{
    background-color: lightsalmon;
}

.news{
    background-color: hotpink;
}

.cast{
    background-color: pink;
}

.story{
    background-color: magenta;
}

.about{
    background-color: dodgerblue;
}

.members{
    background-color: aqua;
}

h4{
    color: white;
    background-color: pink;
    margin-top: 10px;
    text-indent: 10px;
    border-radius: 10px;
}

h6 p{
    color: white;
    background-color: rgb(250, 117, 208);
    padding: 2px;
    border-radius: 4px;
    text-indent: 12px;
}

.cast-container{
    font-size: 18px;
    color: #E558AD;
}